/*-- /gallery --*/
/***** Winston *****/
/*-----------------*/

.main-item,
.grid-sizer {
    width: 20%;
}

.grid {
    position: relative;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.gallery ul{
    margin: 0;
    padding: 0;
}

.gallery .gallery-blog ul li {
    float: left;
    width: 25%;
    position: relative;
}

.gallery{
    padding:0 !important;
}

.gallery-blog{
    background: #9e9e9e36;
    padding-top: 50px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.gallery .btn, .gallery input.btn, .gallery button.btn {
    background: none;
    border: 1px solid #ffc811;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    padding: 12px 20px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0 5px;
}
.gallery .gallery-part {
    padding-top: 25px;
    text-align: center;
    padding-bottom: 115px;
    /*background: #7777772e;*/
    background: #fff9fa;
    /*background: lightpink;*/
    border: 1px solid #e4e4e4;
}
.gallery .tabbing-wrapper {
    margin-bottom: 70px;
}
.gallery .tabbing-wrapper button:focus{
    background: #ffc811;
    color: white;
}
.gallery  .gallery-part .gallery-blog {
    text-align: center;
}
.gallery  .gallery-img-sec {
    margin-bottom: 70px;
    list-style: none;
}
.gallery  .gallery-blog ul li {
    float: left;
    width: 25%;
    position: relative;
}
.gallery .gallery-blog ul li a, .gallery  .fancybox-button > img {
    display: block;
    width: 100%;
}
.gallery .fancybox-overlay {
    background: rgba(0,0,0,0.8);
}
.grid-sizer,
.grid-item { width: 22%; }

.gutter-sizer { width: 4%; }
/* spans 2 columns: 22% + 4% + 22% = 48% */
.grid-item--width2 { width: 48%; }




figure.effect-winston {
    text-align: left;
}

figure.effect-winston img {
    -webkit-transition: opacity 0.45s;
    transition: opacity 0.45s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect-winston figcaption::before {
    position: absolute;
    top: 0;
    left: 10px;
    width: 100%;
    /*height: 100%;*/
    background: url(../images/triangle.svg) no-repeat center center;
    background-size: 100% 100%;
    content: '';
    -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
    transition: opacity 0.45s, transform 0.45s;
    -webkit-transform: rotate3d(0,0,1,45deg);
    transform: rotate3d(0,0,1,45deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

figure.effect-winston:hover img {
    opacity: 0.6;
}

figure.effect-winston:hover figcaption::before {
    opacity: 0.7;
    -webkit-transform: rotate3d(0,0,1,20deg);
    transform: rotate3d(0,0,1,20deg);
}

figure.effect-winston p {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 3em 1em 4% 0;
}

figure.effect-winston p span {
    margin: 0 0 0 1em;
    color: #fc3158;
    font-size: 1em;
}

figure.effect-winston p span:hover{
    color:#212121;
}

figure.effect-winston:hover p span {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-winston p span {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
}

figure.effect-winston:hover p:nth-child(3) span {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

figure.effect-winston:hover p:nth-child(2) span {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

figure.effect-winston:hover p:first-child span{
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
.w3_tabs_grid_sub {
    margin: 2em 0;
}
/*-- //gallery --*/