@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Flaticon.woff") format("woff"),
    url("../fonts/Flaticon.ttf") format("truetype"),
    url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
}

.flaticon-technology-2:before { content: "\f100"; }
.flaticon-clock:before { content: "\f101"; }
.flaticon-music:before { content: "\f102"; }
.flaticon-road:before { content: "\f103"; }
.flaticon-multiply:before { content: "\f104"; }
.flaticon-nature:before { content: "\f105"; }
.flaticon-piston:before { content: "\f106"; }
.flaticon-drawing:before { content: "\f107"; }
.flaticon-wind:before { content: "\f108"; }
.flaticon-folder:before { content: "\f109"; }
.flaticon-tool:before { content: "\f10a"; }
.flaticon-box:before { content: "\f10b"; }
.flaticon-mark:before { content: "\f10c"; }
.flaticon-avatar:before { content: "\f10d"; }
.flaticon-pencil:before { content: "\f10e"; }
.flaticon-wrench:before { content: "\f10f"; }
.flaticon-check:before { content: "\f110"; }
.flaticon-interface:before { content: "\f111"; }
.flaticon-globe:before { content: "\f112"; }
.flaticon-global:before { content: "\f113"; }
.flaticon-science-1:before { content: "\f114"; }
.flaticon-mathematics:before { content: "\f115"; }
.flaticon-science:before { content: "\f116"; }
.flaticon-business:before { content: "\f117"; }
.flaticon-web:before { content: "\f118"; }
.flaticon-technology-1:before { content: "\f119"; }
.flaticon-technology:before { content: "\f11a"; }
.flaticon-gps:before { content: "\f11b"; }
.flaticon-pin:before { content: "\f11c"; }
.flaticon-signs:before { content: "\f11d"; }